/.venv/

__pycache__/
*.py[cod]
.pytest_cache/
.pytest-tmp*/
.test-tmp*/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

/data/
/run/

*.bat

/pytest.ini
/requirements-dev.txt
/tests/

.DS_Store
Thumbs.db
