/.venv/
/.github/workflows/

__pycache__/
*.py[cod]
.pytest_cache/
.pytest-tmp*/
.test-tmp*/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

/data/generated/
/run/
/scripts/gt.tiff
/temp/

*.bat

.DS_Store
Thumbs.db
